html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
	  touch-action: none;
	-ms-touch-action: none;
	-webkit-touch-callout: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
font-family:Arial;
}
button {
      background-color: #2196f3;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 12px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      transition: 0.2s;
  }

  .leaderbords{
    display: block;
    color: white;
  }

  .leaderbords h3{
    font-size: 2vh;
  }

  .leaderbord{
    display: inline-block;
    width: 90vw;
    margin-right: 0.5vw;
  }

  .leaderbord_data{
    display: block;
    width: 100%;
    max-height: 50vh;
    overflow-x:hidden;
    overflow-y: scroll;
  }

.leaderbord_data::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.leaderbord_data::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #4d7fff 0%, #1a56ff 100%);
  border-radius: 5px;
}

.leaderbord_data::-webkit-scrollbar-track {
  background-color: rgb(167, 167, 167);
}

.leaderbord_data .row{
  display: block;
  background-color: #2196f3;
}

  .leaderbord_data .col{
    display: inline-block;
    width: 10vw;
    text-align: center;
    color: white;
  }

  .col:first-child{
    float:left;
	text-align:left;
  }

  .col:last-child{
    float:right;
  }

  .leaderbord_data_rows{
    position: relative;
    top: 0px;
    left: 0px;
  }

  .leaderbord_data_rows *{
    pointer-events: none;
  }

  .leaderbord_data_rows > :nth-child(even) {
      background-color: #9190de !important;
  }

  .col img{
    width: auto;
    height: 3vh;
  }

  .col span{
    font-size: 2vh;
  }

  @media (max-width: 433px){
    .col span{
      font-size: 1vh !important;
    }
  }